/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/*Global Styles*/


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


:root {

    --font-primary: 'Playpen Sans', sans-serif;
    --key-lime-pie: #b8d630;
    --color-tertiary: #f9d830;
    --sail: #aadef8;
    --punch: #da4529;
    --fern-green: #447f3b;
    --sprout: #b1cc9b;
    --color-secondary: #a355c0;
    --color-primary: #330a4c;
    --color-grass: #5BA134;
}

/*Font Family for Headings*/
body h1,
h2 {
    font-family: 'Playpen Sans', sans-serif;

}

/*heading styles*/
.page-title {
    color: var(--color-primary);
    text-align: center;
}

.page-sub-title {
    color: var(--color-secondary);
    text-align: center;
}


/*background image for desktop*/
body {
    background-image: url(../images/maths-background\ .webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-grass);
}


/* styling for the maths questions */
.question-section {
    text-align: center;
    font-family: 'Playpen Sans', sans-serif;
}
/* Question text styling */
.display, 
.question,
.info {
    font-family: var(--font-primary);
    font-size: 35px;
    text-align: center;
    color: var(--color-primary);
}

/* Answer input styling */
.answer-box {
    font-family: var(--font-primary);
    font-size: 60px;
    text-align: center;

    width: 440px;
    height: 120px;

    margin: 20px auto;
    display: block;

    color: var(--color-primary);
    background-color: yellow;

    border: none;
    border-radius: 999px;

    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);
    outline: none;
}

/* Mobile sizing */
@media (max-width: 992px) {
    .answer-box {
        font-size: 40px;
        width: 300px;
        height: 90px;
    }
}

/* Styling for the central calculator */
.cal-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the score */
.score-section {
    text-align: center;
}


/* Button Styling */
.top-row,
.middle-row,
.bottom-row,
.zero-row,
.calc-functions-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px; 
}

/* Button sizing */

button {
    font-size: 40px;
    padding: 10px;
    
}
#game button {
    height: 80px;
    width: 80px;
}

.calc-functions-row button {
    font-size: 30px;
}

/*background image for tablets and mobiles*/
@media (max-width: 992px) {
    body {
        background-image: url(../images/mobile-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    button {
        font-size: 40px;
    }
}

/*Calc section styling*/
#game {
    font-family: var(--font-primary);
    color: var(--color-primary);
}
#game button {
    font-family: var(--font-primary);
    color: var(--color-primary);
    background-color: yellow;
    border-radius: 999px;
}
#game button:hover {
    background-color: yellowgreen;
    font-size: 45px;
    cursor: pointer;
    color: var(--color-secondary);
}

